/* Justify spacing of navbar
.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-between;
}
 */



 .dropdown, .dropup{
    position:static!important;
  }
  .wrapper{
    position:relative;
    width:80%;
  }
  ul.dropdown-menu{
    right:auto!important;
    left:0!important;
    top:0;
  }